* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  background-color: black;
  font-family:'Outfit';
  color: white;
}
.container {
  height: 100vh;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.demo-1 h1{
  font-size: 10vh;
  font-weight: 500;
}
.demo-2 h1{
  font-size: 6vh;
  font-weight: 500;
}
h1 span{
  display: inline-block;
}
.demo-2 .a {
  color: red;
  font-weight: bold;
}

.demo-2 .b {
  color: rgb(0, 0, 182);
}